.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.task-container form {
  width: 100%;
}
.task-container input {
  margin: 1rem;
  width: 65%;
  height: 40px;
  border: none;
  padding: 0.2rem;
  border-radius: 10px;
}

.task-container input:focus,
.task-container input:active {
  outline: 5px solid rgb(252, 85, 112);
}

.task-container button {
  margin: 1rem;
  width: 100px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 0;
  font-size: 20px;
}
.task-container .addTaskBtn {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.task-container button:hover {
  border-radius: 20px;
  cursor: pointer;
  /* background-color:  rgb(119, 119, 252);; */
  outline: 5px solid rgb(252, 85, 112);
  transition: all 0.2s ease-in;
}
